{% extends "layout.html" %}

{% block head_inners %}
{% endblock %}

{% block main_content %}
{% for product in produkts %}
    <div class="card">
        <img style="width: 150px;" src={{product[5]}} class="card-img-top" alt="somehow make default image">
        <div class="card-body">
        <h5 class="card-title">{{product[1]}}</h5>
        <p class="card-text">Kategorija : {{product[2]}}</p>
        <p class="card-text">Izmērs : {{product[4]}}</p>
        <p class="card-text">Cena : {{product[3]}}</p>
        <p class="card-text">Apraksts : {{product[6]}}</p>
        <a href="/delete/{{product[0]}}" class="btn btn-primary">Izņemt no groza</a>
        </div>
    </div>
{% endfor %}
{% endblock %}